@import './utils/mixins-utils.scss';

:root {
  --max-width: 920px;

  --border-radius: 12px;
  --border-radius-input: 6px;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --black-default: #000;
  --white-default: #fff;
  
  --button-color-default: linear-gradient(25deg, #ee92ff39, #61afff39);
  --button-hover-color: rgba(0, 0, 0, 0.05);

  --crud-delete: #c70000;

  --bg-color-white-opacity-40: #ffffff40;
  --bg-color-white-opacity-60: #ffffff60;
  --bg-color-white-opacity-90: #ffffff90;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background: 
    radial-gradient(ellipse at right top, #61afff59, transparent),
    radial-gradient(ellipse at left bottom, #ee92ff59, #0113ef00),
    radial-gradient(ellipse at right bottom, #c6ffc359, #7e7e7e00),
    radial-gradient(ellipse at center, #ffffff, #ffffff);
}

header, main, footer {
  max-width: rem(920);
  margin: auto;
  padding: rem(20);
}

h1, h2 {
  font-family: var(--font-mono);
}

h1 {
  font-size: rem(60);
}

h2 {
  font-size: rem(40);
}

p {
  font-size: rem(16);
  font-family: monospace;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input[type="text"], button {
  all: unset;
  font-family: monospace;
}

button {
  font-family: monospace;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
}
::-webkit-scrollbar {
  width: rem(5);
  height: rem(5);
}