
@mixin height-content-default {
  max-height: rem(448);
  overflow: auto;
}


@mixin glass-efect {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 0px 50px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@mixin input-default {
  label {
    font-family: var(--font-mono);
    padding: rem(12) rem(12) 0;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: #E9EDF9;
  }

  input {
    background-color: #E9EDF9;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    caret-color: #8b8b8b;
    padding: 0 rem(12) rem(12);
  }
}

@function rem($size) {
  $value: calc($size / 16);
  @return #{$value}rem;
}

@mixin responsive-max($width) {
  @media(max-width: $width) {
    @content
  }
}
