
@mixin glass-efect {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 0px 50px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@function rem($size) {
  $value: calc($size / 16);
  @return #{$value}rem;
}

@mixin responsive-max($width) {
  @media(max-width: $width) {
    @content
  }
}
